{% extends '_base.html' %}

{% block content %}
    <div class="card bg-light mb-3">
        {% for post in post_list %}

            <a href="{% url 'post_detail' post.slug %}" class="list-group-item-action">
                <div class="card bg-light mb-3">

                    <div class="card-header"><strong>{{ post.title }}</strong>
                    </div>

                </div>
                <div class="card-body">
                    <p class="card-text font-weight-lighter">
                        {{ post.text|truncatewords:50 }}
                    </p>
                </div>

            </a>
        {% empty %}
            <div class="container">No posts found</div>
        {% endfor %}
    </div>
{% endblock content %}