{% extends '_base.html' %}
{% load comments %}
{% load base %}
{% load martortags %}

{% block content %}

    {% if perms.post.can_change_post %}
        <a href="{% url 'post_update' post.slug %}" class="btn btn-outline-secondary">Update post</a>
    {% endif %}

    <div class="container">
        <h2>{{ post.title }}</h2>
        <p>
            {{ post.body2|safe_markdown }}
        </p>
        <p>
            Added: {{ post.added }}
        </p>
    </div>
    <h3>Comments:</h3>

    {% get_comment_count for post as comment_count %}

    Number of comments: {{ comment_count }}

    {% render_comment_list for post %}

    {% render_comment_form for post %}

{% endblock content %}
